<div class="edit-notes-page">
  <%= form_for @note do |form| %>
    <div>
      <%= form.text_field :title, class: 'form-note__title', placeholder: '제목' %>
    </div>

    <div>
      <%= form.text_area :body, class: 'form-note__body', placeholder: '내용' %>
    </div>

    <%= form.submit  %>
    <a href="/notes/<%= @note.id %>">취소</a>
  <% end %>
</div>
