<div class="notes-page">
  <h1>MINI EVERNOTE</h1>
  <% @notes.each do | note | %>
    <a href="/notes/<%= note.id %>">
      <div class="note">
        <h3 class="note__title">
          <%= note.title %>
        </h3>
        <p class="note__body">
          <%= note.body %>
        </p>
      </div>
    </a>
  <% end %>

  <a href="/notes/new"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
</div>
