<div class="show-notes-page">
  <a href="/notes"><-</a>

  <div class="note">
    <h1 class="note__tittle"><%= @note.title %></h1>
    <p class="note__body">
      <%= @note.body %>
    </p>
  </div>

  <%= link_to "수정", edit_note_path(@note) %>
  <%= link_to "삭제", @note, :method => :delete, data: { confirm: '정말 삭제하시겠습니까?' }%>
</div>
